{% extends 'site.html.twig' %}

{% block javascript %}
    {% include 'pages/home.js.twig' %}
{% endblock %}

{% block page %}
    Dollywood Wait Times
    <div style="padding-right: 20px; max-width: 1400px;">
        <canvas id="ride-chart" width="800" height="100"></canvas>
    </div>
    <table>
        <thead>
            <tr>
                <td>Ride</td>
                <td>Status</td>
                <td>Wait</td>
                <td>Updated</td>
            </tr>
        </thead>
        <tbody>
            {% for wait in waits %}
            <tr>
                <td><a href="ride.php?ride={{ wait.ride_name }}">{{ wait.ride_name }}</a></td>
                <td>{{ wait.ride_status }}</td>
                <td>{{ wait.wait_time }}</td>
                <td>{{ wait.formatted_created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}