{% extends 'site.html.twig' %}

{% block javascript %}
    {% include 'pages/home.js.twig' %}
{% endblock %}

{% block page %}
    <form method="GET">
        <h5>
            Date:
            <select name="day" onchange="this.form.submit()">
                {% for date in dates %}
                    <option value="{{ date.formatted_created_at }}"{% if date.formatted_created_at == day %} selected="selected"{% endif %}>{{ date.formatted_created_at }}</option>
                {% endfor %}
            </select>
        </h5>
    </form>
    <div id="chart-container">
        <canvas id="ride-chart" width="800" height="200"></canvas>
    </div>
    <div class="col-md-6">
        <table class="table table-condensed table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <td>Ride</td>
                    <td>Status</td>
                    <td>Wait</td>
                    <td>Updated</td>
                </tr>
            </thead>
            <tbody>
                {% for wait in waits %}
                <tr>
                    <td><a href="ride.php?ride={{ wait.ride_name }}&day={{ day }}">{{ wait.ride_name }}</a></td>
                    <td>{{ wait.ride_status }}</td>
                    <td>{{ wait.wait_time }}</td>
                    <td>{{ wait.formatted_created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}