{% extends 'site.html.twig' %}

{% block javascript %}
    {% include 'pages/ride.js.twig' %}
{% endblock %}

{% block page %}
    {{ ride_name }} Wait Times | <a href="/">Back to all rides</a>
    <div style="padding-right: 20px; max-width: 1400px;">
        <canvas id="ride-chart" width="800" height="100"></canvas>
    </div>
    <form method="GET">
        Date:
        <input type="hidden" name="ride" value="{{ ride_name }}" />
        <select name="day" onchange="this.form.submit()">
            {% for date in dates %}
                <option value="{{ date.formatted_created_at }}"{% if date.formatted_created_at == day %} selected="selected"{% endif %}>{{ date.formatted_created_at }}</option>
            {% endfor %}
        </select>
    </form>
    <table>
        <thead>
            <tr>
                <td>Updated</td>
                <td>Status</td>
                <td>Wait</td>
            </tr>
        </thead>
        <tbody>
            {% for wait in waits %}
            <tr>
                <td>{{ wait.formatted_created_at }}</td>
                <td>{{ wait.ride_status }}</td>
                <td>{{ wait.wait_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}